@model domain.Entities.Company

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <h4 class="card-title">Aggiungi azienda</h4>
                </div>
                <div class="card-body">


                    @using (Html.BeginForm("Add", "Companies", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-sm">
                                @Html.LabelFor(model=>model.Name,"Nome")
                                @Html.TextBoxFor(model => model.Name, new { @class="form-control", @placeholder="Example" })
                            </div>
                            <div class="col-sm">
                                @Html.LabelFor(model=>model.Domain,"Sito Web")
                                @Html.TextBoxFor(model => model.Domain, new { @class="form-control", @placeholder="www.example.com", @type="url" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                @Html.LabelFor(model=>model.Address.Region,"Regione")
                                @Html.TextBoxFor(model => model.Address.Region, new { @class="form-control", @placeholder="Toscana" })
                            </div>
                            <div class="col-3">
                                @Html.LabelFor(model => model.Address.District, "Provincia")
                                @Html.TextBoxFor(model => model.Address.District, new { @class = "form-control", @placeholder = "MS" })
                            </div>
                            <div class="col-3">
                                @Html.LabelFor(model=>model.Address.PostalCode,"CAP")
                                @Html.TextBoxFor(model => model.Address.PostalCode, new { @class="form-control", @placeholder="54013" })
                            </div>
                            <div class="col-3">
                                @Html.LabelFor(model => model.Address.City, "Città")
                                @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control", @placeholder = "Monzone" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                @Html.LabelFor(model => model.Address.Street, "Indirizzo")
                                @Html.TextBoxFor(model => model.Address.Street, new { @class = "form-control", @placeholder = "Via C. Battisti, 89" })
                            </div>
                            <div class="col-3">
                                @Html.LabelFor(model=>model.Address.Latitude,"Latitudine")
                                @Html.TextBoxFor(model => model.Address.Latitude, new { @class="form-control", @placeholder="40.0" })
                            </div>
                            <div class="col-3">
                                @Html.LabelFor(model => model.Address.Longitude, "Longitudine")
                                @Html.TextBoxFor(model => model.Address.Longitude, new { @class = "form-control", @placeholder = "10.0" })
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-primary">Inserisci</button>
                            </div>

                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>