@using domain.Entities
@using HomeToWork_API.Controllers
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addCompanyModal" style="cursor: pointer"><i class="fas fa-plus"></i>  Aggiungi azienda</button>
                    <h4 class="card-title">Aziende</h4>
                    <p class="card-category">Lista aziende iscritte al sistema</p>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Città</th>
                        <th>Provincia</th>
                        <th>CAP</th>
                        <th>Regione</th>
                        <th>Registrazione</th>
                        </thead>
                        <tbody>

                        <tr data-toggle="modal">
                            <td>@ViewBag.Company.Id</td>
                            <td>@ViewBag.Company.Name</td>
                            <td>@ViewBag.Company.Address.City</td>
                            <td>@ViewBag.Company.Address.District</td>
                            <td>@ViewBag.Company.Address.PostalCode</td>
                            <td>@ViewBag.Company.Address.Region</td>
                            <td>@ViewBag.Company.Registration.Date.ToString("dd/MM/yyyy")</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>